![](mysql-min.jpg)

**CODE SOURCE + MEDIAS SOCIAUX** 

- [Vidéo associée à ce notebook]( https://youtu.be/ExNyQxxzpE4 )

- [Playlist complete](https://urlz.fr/kvpG)

- [Mon profile linkedin](https://www.linkedin.com/in/ousman-hamit-hassani/)

- [Groupe facebook](https://www.facebook.com/groups/openclass4all/)

- [Instagram](https://www.instagram.com/openclass4all/)

- [Github](https://www.github.com/ousmanhamit/)


Merci d’ajouter une étoile à mon profile github si vous pensez que le travail que je fais est utile.

![](thumbnail.jpg)

---

In [8]:
import pymysql
from sqlalchemy.engine import create_engine 
import pandas as pd

--- 
PARTIE I

- *CONNEXION*

In [3]:
engine = create_engine(f"mysql+pymysql://ousman:mypassword@localhost/mydb")
conn = engine.connect()

- *LES REQUETES*( operations - CRUD)

In [4]:
select_stmt = "SELECT * FROM Students"
insert_stmt = "INSERT INTO Students VALUES(6, 'mno', 36, 'mno@gmail.com', 'openclass4all')"
update_stmt = "UPDATE Students SET age = 16 WHERE id = 5"
delete_stmt = "DELETE FROM Students WHERE id = 6"

In [5]:
# conn.execute(delete_stmt);

In [6]:
query = conn.execute(select_stmt).fetchall()
print(query)

[(1, 'abc', 23, 'abc@gmail.com', 'openclass4all'), (2, 'def', 20, 'def@gmail.com', 'openclass4all'), (3, 'ghi', 20, 'ghi@gmail.com', 'openclass4all'), (4, 'jkl', 24, 'jhi@gmail.com', 'openclass4all'), (5, 'mno', 16, 'mno@gmail.com', 'openclass4all')]

In [7]:
for q in query:
    print(q)

(1, 'abc', 23, 'abc@gmail.com', 'openclass4all')
(2, 'def', 20, 'def@gmail.com', 'openclass4all')
(3, 'ghi', 20, 'ghi@gmail.com', 'openclass4all')
(4, 'jkl', 24, 'jhi@gmail.com', 'openclass4all')
(5, 'mno', 16, 'mno@gmail.com', 'openclass4all')

---
PARTIE II - TABLES d'une base de donnees en DataFrames

In [9]:
engine = create_engine(f'mysql+pymysql://ousman:mypassword@localhost/mydb')

In [10]:
df = pd.read_sql_table("Students", engine)
df

   id name  age          email         school
0   1  abc   23  abc@gmail.com  openclass4all
1   2  def   20  def@gmail.com  openclass4all
2   3  ghi   20  ghi@gmail.com  openclass4all
3   4  jkl   24  jhi@gmail.com  openclass4all
4   5  mno   16  mno@gmail.com  openclass4all

In [11]:
df = pd.read_sql_table("Students", engine, columns = ['name', 'age', 'email'])
df

  name  age          email
0  abc   23  abc@gmail.com
1  def   20  def@gmail.com
2  ghi   20  ghi@gmail.com
3  jkl   24  jhi@gmail.com
4  mno   16  mno@gmail.com

In [12]:
select_stmt = "SELECT * FROM Students"

In [13]:
df = pd.read_sql_query(select_stmt, engine)
df

   id name  age          email         school
0   1  abc   23  abc@gmail.com  openclass4all
1   2  def   20  def@gmail.com  openclass4all
2   3  ghi   20  ghi@gmail.com  openclass4all
3   4  jkl   24  jhi@gmail.com  openclass4all
4   5  mno   16  mno@gmail.com  openclass4all